<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" *ngIf="isLoggedIn$! | async as isLoggedIn">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/dashboard" routerLinkActive="active">
          <i class="fas fa-home"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/order-list" routerLinkActive="active">
          <i class="fas fa-file"></i>
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product-list" routerLinkActive="active">
          <i class="fas fa-shopping-cart"></i>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer-list" routerLinkActive="active">
          <i class="fas fa-users"></i>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    
  </div>
</nav>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" *ngIf="isLoggedIn$! | async as isLoggedIn" >
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">NiniDaManager</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <div>
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{user.user_name}}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="navbarScrollingDropdown">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" routerLink="/profile" routerLinkActive="active">Profile</a></li>
        <li><a class="dropdown-item" (click)="onLogout()" *ngIf="isLoggedIn">Sign out</a></li>
      </ul>
    </div>
  </div>
</header>
<router-outlet></router-outlet>