<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container page-title">
        <div class="row">
            <div class="col-md-3">
                <h3>Orders</h3>
            </div>
            <div class="col-md-4 offset-md-3">
                <button id="page-buttons"><a routerLink="/order-edit" routerLinkActive="active">Create New</a></button>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- basic table  -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered first">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Order Time</th>
                                    <th>Customer</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Details</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders; let i=index">
                                    <td>{{order.order_id}}</td>
                                    <td>{{order.order_date}}</td>
                                    <td>{{order.order_customer}}</td>
                                    <td>{{order.order_product}}</td>
                                    <td>{{order.order_quantity}}</td>
                                    <td><button data-toggle="tool-tip" title="View Details"
                                            class="details-button" (click)="showOrderDetails(content)">Details</button></td>
                                    <td>
                                        <button data-toggle="tooltip" title="Edit" class="edit-button" (click)="showOrderEditForm(formModal, order)"><i
                                                class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        <button data-toggle="tooltip" title="Trash" class="delete-button"><i
                                                class="fa fa-trash-o" aria-hidden="true" (click)="deleteOrder(order.order_id)"></i></button>
                                    </td>
                                    <!-- Details Modal -->
                                    <ng-template #content let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title">Order Details</h4>
                                            <button type="button" class="close" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Customer Name: {{order.order_customer}}</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Product Ordered: {{order.order_product}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Quantity: {{order.order_quantity}}</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Total Price: {{order.order_price}}</p>
                                                </div>
                                            </div>
                                            <p>Ordered at: {{order.order_date}}</p>
                                        </div>
                                    </ng-template>
                                     <!-- Edit Modal -->
                                     <ng-template #formModal let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit Order Details</h4>
                                            <button type="button" class="close" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="row g-3"[formGroup]="orderForm" (ngSubmit)="editOrder()">
                                                <div class="col-md-6">
                                                  <label for="inputCustomer" class="form-label">Customer</label>
                                                  <select id="inputCustomer" class="form-control" formControlName="order_customer">
                                                    <option selected>Choose</option>
                                                    <option *ngFor="let customer of customers; let i = index" [value]="customer.cust_name">
                                                      {{ customer.cust_name }}
                                                    </option>
                                                  </select>
                                                </div>
                                                <div class="col-md-6">
                                                  <label for="inputProduct" class="form-label">Product</label>
                                                  <select id="inputProduct" class="form-control" formControlName="order_product">
                                                    <option selected>Choose</option>
                                                    <option *ngFor="let product of products" [value]="product.product_name">{{ product.product_name}}</option>
                                                  </select>
                                                </div>
                                                <div class="col-12">
                                                  <label for="inputQuantity" class="form-label">Quantity</label>
                                                  <input type="number" class="form-control" id="inputQuantity" min="1" formControlName="order_quantity" />
                                                </div>
                                                <div class="col-12">
                                                  <label for="inputRemarks" class="form-label">Remarks (Optional)</label>
                                                  <textarea class="form-control" id="inputRemarks" placeholder="Write anything" formControlName="order_remarks"></textarea>
                                                </div>
                                                <div class="col-md-6">
                                                    <button id="buttom-buttons" class="cancel-button">Cancel</button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="submit" id="buttom-buttons" class="submit-button">Submit</button>
                                                </div>
                                              </form>
                                        </div>

                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 text-center" *ngIf="!orders.length">
                    <h4>We have no orders!!!</h4>
                </div>
            </div>
        </div>
        <!-- end basic table  -->
    </div>
</div>